server:
  port: 8086

grpc:
  server:
    port: 9096

spring:
  application:
    name: rococo-painting
  datasource:
    username: postgres
    password: secret
    hikari:
      connection-timeout: 20000
      minimum-idle: 10
      maximum-pool-size: 30
      idle-timeout: 10000
      max-lifetime: 1800000
      auto-commit: true

  flyway:
    enabled: true
    baseline-on-migrate: true
    baseline-version: 0
    schemas: public
    locations: classpath:db.migration.rococo-painting

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
    open-in-view: false
---
spring:
  config:
    activate:
      on-profile: 'local'
  datasource:
    url: 'jdbc:postgresql://localhost:5432/rococo-painting'

grpc:
  client:
    grpcMuseumClient:
      address: 'static://localhost:9094'
      negotiationType: PLAINTEXT
    grpcArtistClient:
      address: 'static://localhost:9095'
      negotiationType: PLAINTEXT
---
spring:
  config:
    activate:
      on-profile: 'docker'
  datasource:
    url: 'jdbc:postgresql://rococo-db:5432/rococo-painting'

grpc:
  client:
    grpcMuseumClient:
      address: 'static://museum.rococo.dc:9094'
      negotiationType: PLAINTEXT
    grpcArtistClient:
      address: 'static://artist.rococo.dc:9095'
      negotiationType: PLAINTEXT

